.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background-image: linear-gradient(150deg, #474656 0, #1f1f24 50%, #000000 100%);
    box-shadow: 2px 3px 3px black;

}





.cont-title{
    display: flex;
    align-items: center;
    
    /* margin: 0 auto; */
    
    
}
.cont-title h3{
    color: rgb(215, 210, 210);
    font-size: 20px;
    
    
}
.logo{
    width: 50px;
}



/* .header nav ul {
    display: flex;
    
    


}

.header ul li {
    color: white;
    margin: 0 10px;
    list-style: none;
}



.header nav ul{
  display: flex;
  

}
.header  ul li {
  color: white;
  margin: 0 10px;
  list-style: none;

} */
.header .material-symbols-outlined{
    font-size: 50px;
    font-weight: bold;
    display: none;
    margin-right: 8px;
    /* position: absolute;
    right: 30px; */
}
@media (max-width: 896px){


    .header{
        justify-content: space-between;
    }

    .header .material-symbols-outlined{
        display: block;
    }

    
    /* .header nav{
        display: none;
    } */

    .cont-title{
        margin-left: 8px;
    }
    .cont-title h3{
        font-size: 14px;
    }
    .logo{
        width: 43px;
    }
    
}
.header .material-symbols-outlined:hover{
    color: #727278;
}
.menu-mobile{
    
    height: 100%;
    width: 100%;
    background-color: rgb(28, 27, 27);
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: .94;
    
    
    
}
.menu-mobile ul{
    display: flex;
    flex-direction: column;
}
.menu-mobile ul li{
    margin: 40px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    color: #a0a0a7;
}
.menu-mobile ul li:hover{
    color: #58586a7c;
}


